
h1, h2 {font-family: 'Roboto';}


header {
    display: block;
    background-color: #FF6666;
    height: 90px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
   
    
    
  }

  h1 {font-size: 30px;
    text-align: center;
    padding-top: 10px;
  }

  h2 {
    font-size: 20px;
   padding-left: 50px;
     }

  hr {
        display: block;
        margin-left: auto;
        margin-right: 90px;
        border: .5px inset;
        border-color:rgb(150, 147, 150);
        overflow: hidden;
        background-color:rgb(150, 147, 150);
      }

  img {
     width: 200px;
     box-shadow: 0 0 30px rgb(58, 6, 58);
     height: auto; 
     border-radius: 10px;
     z-index: 1;
     margin-right: 45px;
     margin-top: -20px;
     }

  div.list {
    text-align: justify;
    font-size: 25px;
    padding-left: 50px;
  }

  ul {
      display: inline-block;
      text-align: left;
  }
  
  footer a:link {
    color:black;
  }
  footer a:visited {
    color:black;
  }
    
  footer {
    background-color: #FF6666;
    height: 85px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
        }