@media only screen and (min-width: 37.5em) {

    header img {
        width: 100px;
        height: 100px;
    }

    .headings h1 {
        font-size: 25px;
    }
    
    .motto {
        font-size: 15px;
    }
   	
   .navigation { 
        display: flex; 
    }

    .navigation li:first-child {
        display: none;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
        
    .navigation a {
        text-align: center;
        font-size: 15px;
    }
   
    h1 {
        font-size: 30px;
    }

    h2{
        font-size: 30px;
    }
    
    .hero img {
          
        width: 800px;
            } 

    
   .summary {
        position: absolute;
       top: 450px;
        left: 50px;
        width: auto;
           }

 

    .forecast {
        display: contents;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        border: 1px solid black;
        margin: 0 auto;
        align-content: center;
        padding: 10px;
        background-color: white;
             }

     .forecast section {
         display: block;
         margin-left: center;
         margin-right: center;
         padding: 55px;
         
        
     }        
                        
        
    section {
        display: grid;
        max-width: 600px;
             
    }

    .events {
        width: 50%;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 50px;
       
    }
   
   .cards section {
       display: flex;
      
      
   }
   .cards section:nth-child(even) {
       flex-direction: row-reverse;
   }
      

 
    h3 {
        text-align: center;
    }
  
    .aboutus p {
       
      
        font-size: 20px;
    }

    .contact {
        border-style: groove;
        font-size: 20px;
            }
     
    
     
 .address h3 {
     text-align: center;
 }        
                     
         
 .address {
           text-align: center;
         
                  
        }

.gallery {
     display: grid;
     grid-template-columns: 1fr 1fr;

        }
        
   
    }