@media only screen and (min-width: 60em) {

  
     
	.navigation a {
		font-size: 20px;
    }
    .headings h1 {
        font-size: 30px;
    }
    .motto {
        font-size: 20px;
    }
    h2 {
        font-size: 40px;
    }

    .herodiv {
        position: relative;
        width: 960px;
        height: 300px;
        margin: 0 auto;
        background-color: cornsilk;
               }
    picture {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
  

  
      
    .summary {
        position: absolute;
        top: 400px;
        left: 475px;
    }
    .forecast {
       
        width: 960px;
        height: 200px;
    }
    .forecast section {
        display: block;
        
      
    }
    
       
    .article {
        margin: 0 auto;
        width: 960px;
        height: 300px;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
              }
    .article p {
        margin-left: 400px;
    }
    .rodeo img{
        top: 20px;
        right: 0px;
         width: 300px;
         height: 250px;
                          
          }      

    .contact {
      
        margin: 0 auto;
    }

    .map {
       padding-left: 10px;
       padding-top: 10px;
    }

    .address h3 {
        text-align: left;
    }
    .address {
        padding-right: 200px;
    }


    footer {
        
    
       margin: 0 auto;
    }
   
 

    
    }

	