@media only screen and (min-width: 37.5em) {

    header img {
        width: 100px;
        height: 100px;
    }

    .headings h1 {
        font-size: 40px;
    }
    
    .motto {
        font-size: 20px;
    }
   	
   .navigation { 
        display: flex; 
    }

    .navigation li:first-child {
        display: none;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
        
    .navigation a {
        text-align: center;
        font-size: 20px;
    }
   
    h1 {
        font-size: 30px;
    }

    h2{
        font-size: 30px;
    }
    
    .weather {
        border-style: groove;
        font-size: 30px;
        
    }
    .forecast {
        border-style: groove;
        font-size: 30px;
    }
    .article {
        border-style: groove;
        font-size: 30px;
    }
    .contact {
        border-style: groove;
        font-size: 30px;
    }
 
    
}