@media only screen and (min-width: 60em) {

  
     
	.navigation a {
		font-size: 20px;
    }
    .headings h1 {
        font-size: 30px;
    }
    .motto {
        font-size: 20px;
    }
    h2 {
        font-size: 40px;
    }

    .herodiv {
        position: relative;
        width: 960px;
        height: 300px;
        margin: 0 auto;
        background-color: cornsilk;
               }
    picture {
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
  
    
   /* .hero img {
        display: block;
        width: 960px;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 10px;
              } 
    */

    .summary {
        position: absolute;
        top: 425px;
        left: 475px;
    }
    .forecast {
       
        width: 960px;
        height: 200px;
    }
    .forecast section {
        display: block;
        
      
    }
  
    .article {
        margin: 0 auto;
        width: 940px;
        height: 150px;
              }

   
   .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
            
                    }
    .cards section {
        display: block;
        
    }
    .cards h2 {
         text-align: center;
         font-size: 25px;
         color: darkblue;
                    }

                    
     .cards p {
          text-align: center;
          font-size: 15px;
                    }
            
    .cards h3 {
        text-align: center;
            }
     .contact {
        margin: 0 auto;
            }
      
     .map {
         padding-left: 10px;
         padding-top: 10px;
             }
     .address {
         padding-right: 200px;
             }

    footer {
         
       margin: 0 auto;
    }
   
 /* form*/

 form label.str {
     padding: .4rem 0;
 }


 

}