@media only screen and (min-width: 60em) {

  
     
	.navigation a {
		font-size: 20px;
    }
    .headings h1 {
        font-size: 30px;
    }
    .motto {
        font-size: 20px;
    }
    h2 {
        font-size: 40px;
    }

    
    .hero img {
        display: block;
        width: 960px;
        height: 300px;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 10px
        ;
        
      
              } 
    

   
    
    .article {
        margin: 0 auto;
        width: 940px;
        height: 150px;
              }

    section {
        display: grid;
    }
   .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
                    }
    .cards h2 {
         text-align: center;
         font-size: 25px;
         color: darkblue;
                    }

                    
     .cards p {
          text-align: center;
          font-size: 15px;
                    }
            
    .cards h3 {
        text-align: center;
            }
    footer {
        
    
       margin: 0 auto;
    }
   
 /* form*/

 form label.str {
     padding: .4rem 0;
 }


 

}