@media only screen and (min-width: 37.5em) {

    header img {
        width: 100px;
        height: 100px;
    }

    .headings h1 {
        font-size: 25px;
    }
    
    .motto {
        font-size: 15px;
    }
   	
   .navigation { 
        display: flex; 
    }

    .navigation li:first-child {
        display: none;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
        
    .navigation a {
        text-align: center;
        font-size: 15px;
    }
   
    h1 {
        font-size: 30px;
    }

    h2{
        font-size: 30px;
    }
    
    

    .hero img {
        margin-left: 5px;
     
        width: 800px;
            } 

        
    section {
        display: grid;
        max-width: 600px;
             
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
   
   .cards section {
       display: flex;
   }
   .cards section:nth-child(even) {
       flex-direction: row-reverse;
   }
   
 
        
   
    }