body {font-family: "Roboto", sans-serif;
    font-size: 16px; 
  }

  
    
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F96648;
    border-radius: 10px;
    height: 80px;
    padding: 30px;
    font-size: 25px;
    color:  black;
       }  
     
header img {
    width: 80px;
    height: 80px; 
        }

.headings {
    display: flex;
    flex-direction: column;
  }
.headings h1 {
    font-size: 20px;
    margin: 0 0 0 17px;
    
}
.motto {
    font-style: italic;
    letter-spacing: 1pt;
    font-size: 10px;
    padding-top: 10px;
    margin-left: 30px;
    }

#ham {
    display: flex;
    justify-content: center;
    font-size: 20px;
}



    nav {
        margin: 0 auto;
        background-color: #f39e7c;
        border-radius: 10px;
       
    }

    
      

   .navigation {
   list-style: none;
    padding: 0;
     }

.navigation li:first-child {
    display: block;
}

 
.navigation a {
    display: block;
    color: black;
    padding: 20px 20px;
    text-decoration: none;
       }

 .navigation li {
     display: none;
      font-family: 'Source Sans Pro', sans-serif;
  }
  
  nav ul li.active a{
    background-color: rgb(253, 201, 181);
}
  
   .navigation a:hover {
    background-color: rgb(250, 215, 162);
    color: black;
  }

 
   
.responsive li {
    display: block;
}



  main {
      font-family: "Source Sans Pro", sans-serif;
      padding: 10px;
  }

  h2 {
      text-align: center;
      font-size: 20px;
  }

   
 
   .summary {
        position: absolute;
         top: 285px;
         left: 50px;
         background-color: rgb(243, 224, 224);
         opacity: 0.8;
         border: 1px solid rgb(216, 201, 201);
         padding: .5rem;
         box-shadow: 0 0 30px #777;
         width: 50%;
   }
   
   .summary h3 {
       margin: 2px;
   }
     
     .summary p {
      
         margin: 0 auto;
         padding: 2px;
         font-size: 14px;
     }

     hr {
         border-radius: 1px solid black;
     
     }
       
   .forecast {
        display: none;
   }
   .forecast1 {
       display: none;
   }

   .events1 h3 {
       text-align: center;
       margin-top: 20px;
   }


    .events {
        background-color: rgb(202, 202, 247);
        border: 1px solid gray;
        display: block;
        align-items: center;
        text-align: center;
        width: 75%;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
    }

    .article h3 {
        text-align: center;
    }

  .article {
    position: relative;
   border: 1px groove grey;
    background-color: cornsilk;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
           }

 .rodeo img {
    position: absolute;
     width: 200px;
      height: 200px;
      left: 30px;
      top: 75px;
      
               
       }  
     
    .article p {
        text-align: justify;
        margin-left: 250px;
        padding-top: 2px;
        padding-right: 20px;
        padding-left: 10px;
           }
    .article h3 {
        padding-left: 50px;
      
    }

    .contact {
        position: relative;
        height: 300px;
        width: auto;
        border: 1px groove grey;
        background-color: cornsilk;
        padding-top: 5px;
       text-align: center;
        font-size: 20px;
         }

     .map {
        display: none;
                 }
        
  
  footer {
        background-color:  #F96648;;
        height: 85px;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-size: 15px;
        border-radius: 10px;
            }

/*------homepage------*/
.cards {
    display: grid;
    grid-template-columns: 1fr;
   
 
   
     
    }
.cards h2 {
     text-align: center;
     font-size: 25px;
     color: darkblue;
 }
 .cards h3 {
     text-align: center;
 }
 .cards p {
     text-align: center;
     font-size: 15px;
 }


 .cards img {
    display: block;
    margin-left: auto;
    margin-right: auto;
     box-shadow: 0 0 50px #333;
          
 }

 .cards section {
 
    border: 1px solid rgb(111, 111, 141);
     background-color: cornsilk;
     padding: 10px;
     margin: 10px;
     
 } 
  
 /*-------------form----------------*/


 form fieldset {
    margin: 2rem 0;
    border: 1px solid #575757;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 15px;
    color: black;
    font-size: .9rem;
      }
  
form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #575757;
  border-radius: 4px;
  padding: .75rem;
  color: black;
  width: 100%;
  max-width: 20rem;
  background-color: #ffffe0;
}

form label.storm input {
  display: block;
  font-size: 1rem;
  padding: .75rem;
 
}

form label.str {
  display: block;
  padding: .75rem 0;
  color: black;
}

form input.submit {
  border: solid 1px #575757;
  background-color:#ffffe0;
  color: black;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}
form label.storm {
    font-size: 25px;
    
}




form label.top input:required:valid {
  border-left: black solid 6px;
}


/*--gallery--*/
 
figure {
    border: 1px solid black;
    padding: 5px;
    align-content: center;
    }
.gallery img {
    width: 100%;
}

 figcaption {
     text-align: center;
     padding: 10px;
 }

 
      

 
  
  
 
        

   